<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <title>Editing <%= application.name %></title>
  <%- include('../partials/_navbar.ejs') %>
</head>
<body>
  <div class="background3">
    <h1>Edit <%= application.name %></h1>
  <div class="new-body">
    <form action="/users/<%= user._id %>/applications/<%= application._id %>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= application.name %>">
      
      <label for="price">Price:</label>
      <input type="text" name="price" id="price" value="<%= application.price %>">
      
      <label for="link">Link:</label>
      <input type="text" name="link" id="link" value="<%= application.link %>">
      
      <label for="status">Status:</label>
      <select id="status" name="status">
        <option value="got it" <%= application.status === "got it!" ? "selected" : "" %>>Got it!</option>
        <option value="dont got it" <%= application.status === "dont got it!" ? "selected" : "" %>>Don't Got it!</option>
        <option value="saving up" <%= application.status === "saving up!" ? "selected" : "" %>>Saving up!</option>
      </select>
      <button type="submit">Update Part</button>
    </form>
  </div>
</body>
</html>
