<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheet/style.css" />
  <title><%= application.title %></title>
  <%- include('../partials/_navbar.ejs') %>
</head>
<body>
  <div class="background">
    <div class="show-body">
      <div class="show-header">
        <h1>
          <%= application.name %>
        </h1>
        <div class="show-sidebar">
          <div id="center cont">
            <form action="/users/<%= user._id %>/applications/<%= application._id %>?_method=DELETE" method="POST">
              <h2>
              <a href="/users/<%= user._id %>/applications/<%= application._id %>/edit">Edit Part </a>
             </h2>
             <h2>
             <a href="<%= application.link%>" target="_blank">View Car Part</a>
             </h2>
             <button type="submit">Delete Car Part</button>
             <p>Current Status: <%= application.status %>!</p>
             <div class="show-notes-container">
             <% if (application.link) { %>
              <% } %>
            </form>
          </div> 
      </div>
    </div>
</body>